body {
    text-align: center;
    background-color: darkslategrey;
    color: white
}
figure{
    border-radius: 0px;
    border: 1px solid;
    border-color: black
}
table, th, td{
    border: 1px solid;
    align-items: center;
}
footer{
    border: ;
}
br{
    color: black;
}