footer{
    align-items: first baseline;
}
h2{
    text-align: center;
    text-decoration: dashed;
}
header{
    text-align: center;
    text-size-adjust: 50 px;
}
div class="mb-3" {
    align-items: center;
}
input{
    align-items: center;
}
img{
    border-radius: 0vmax;
}
label{align-content: center;}